<%= stylesheet_link_tag "details", media: "all" %>
<div class="details">
  <div class="details-body">
    <h1 class="details-title"><%= @result["title"] %> </h1>
    <h2 class="details-subtitle"><%= @result["subtitle"] %> </h2>
    <h4 class="details-subsubtitle"><%= sanitize @result["subsubtitle"] %> </h4>
    <% if @result["text"].present? %>
      <p class="details-text">
        <%= sanitize @result["text"] %>
      </p>
    <% end %>
    <% if @result["text_2"].present? %>
      <p class="details-text">
        <%= sanitize @result["text_2"] %>
      </p>
    <% end %>
  </div>

  <div class="details-body">
    <!--TODO create pages for these links-->
    <%= link_to "Add to favorites", "person_details", class: "details-link link-primary" %>
  </div>

</div>
