<div class="details">
  <div class="details-body">
    <h1 class="details-title"><%= @result["title"] %> </h1>
    <h3 class="details-subtitle"><%= @result["subtitle"] %> </h3>
    <h5 class="details-subsubtitle"><%= @result["subsubtitle"] %> </h5>
    <% if @result["text"].present? %>
      <p class="details-text">
        <%= @result["text"] %>
      </p>
    <% end %>
    <% if @result["text_2"].present? %>
      <p class="details-text">
        <%= @result["text_2"] %>
      </p>
    <% end %>
  </div>

  <div class="details-body">
    <!--TODO create pages for these links-->
    <%= link_to "Add to favorites", "person_details", class: "details-link link-primary" %>
  </div>

</div>
