<%= stylesheet_link_tag "details", media: "all" %>
<div class="details">
  <div class="details-body">
    <h1 class="details-title"><%= @result["title"] %> </h1>
    <h2 class="details-subtitle"><%= @result["subtitle"] %> </h2>
    <h4 class="details-subsubtitle"><%= sanitize @result["subsubtitle"] %> </h4>
    <% if @result["text"].present? %>
      <p class="details-text">
        <%= sanitize @result["text"] %>
      </p>
    <% end %>
    <% if @result["text_2"].present? %>
      <p class="details-text">
        <%= sanitize @result["text_2"] %>
      </p>
    <% end %>
  </div>
  <div class="details-body">
    <% if !@isFav %>
      <%= form_with url: "#{Current.search_page_name}_favorite", method: :post do |form|%>
        <div class="augments">
          <div class="augment-row">
            <label class="aug-label" for="keywords">Keywords:</label>
            <%= form.text_field :keywords, class: "inputs", placeholder: "Some keywords..." %>
          </div>
          <div class="augment-row">
            <label class="aug-label" for="notes">Personal Notes:</label>
            <%= form.text_area :notes, class: "area inputs", placeholder: "Some personal notes..." %>
          </div>
        </div>
        <%= hidden_field_tag :id, @id%>
        <%= hidden_field_tag :title, @result["title"] %>
        <%= form.submit "Add to favorites" , class: "btn-to details-link link-primary details-button" %>
      <%end %>
    <% else %>
      <%= form_with url: "#{Current.search_page_name}_favorite", method: :post do |form| %>
        <div class="augments">
          <div class="augment-row">
            <label class="aug-label" for="keywords">Keywords:</label>
            <%= form.text_field :keywords, class: "inputs", placeholder: "Some keywords..." %>
          </div>
          <div class="augment-row">
            <label class="aug-label" for="notes">Personal Notes:</label>
            <%= form.text_area :notes, class: "area inputs", placeholder: "Some personal notes..." %>
          </div>
        </div>
        <%= hidden_field_tag :id, @id %>
        <%= hidden_field_tag :title, @result["title"] %>
        <%= button_to "Update personal notes", "#{Current.search_page_name}_favorite", class: "btn-to details-link link-primary details-button", method: :put %>
        <%= button_to "Remove from favorites", "#{Current.search_page_name}_favorite", class: "btn-to details-link link-primary details-button", method: :delete, params: { id: @id }  %>
      <% end %>
    <%end%>
  </div>
</div>
