<%= stylesheet_link_tag "list", media: "all" %>
<% if Current.user %>
  <div class="list-container">
    <% if @result.present? %>
      <% @result.each_with_index do |course, index| %>
        <div class="list-item">
          <div class="text-info-box">
            <h2><%= course["title"] %></h2>
            <div class="short">
              <%= sanitize course["short"] %>
            </div>
            <div class="controls">
              <% if Current.search_page_name == "project" %>
                <%= link_to "Details", project_details_path(id: course["id"]), class:"button-secondary" %>
              <% elsif Current.search_page_name == "thesis" %>
                <%= link_to "Thesis Details", thesis_details_path(id: course["id"]), class:"button-secondary" %>
              <% elsif Current.search_page_name == "course" %>
                <%= link_to "Course Details", course_details_path(id: course["course_num"], semester: course["semester"]), class:"button-secondary" %>
              <% end %>
              <% if Current.search_page_name == "course" %>
                <% if !course["isFav"] %>
                  <%= button_to "Add favorites", "#{Current.search_page_name}_favorite", class: "btn-to button-secondary", method: :post, params: { id: course["course_num"] }  %>
                <% else %>
                  <%= button_to "Remove from favorites", "#{Current.search_page_name}_favorite", class: "button-secondary", method: :delete, params: { id: course["course_num"] }  %>
                <% end %>
              <% else %>
                <% if !course["isFav"] %>
                  <%= button_to "Add favorites", "#{Current.search_page_name}_favorite", class: "btn-to button-secondary", method: :post, params: { id: course["id"] }  %>
                <% else %>
                  <%= button_to "Remove from favorites", "#{Current.search_page_name}_favorite", class: "button-secondary", method: :delete, params: { id: course["id"] }  %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1>Oh wow, so much empty :(</h1>
    <% end %>
  </div>
<% else %>
  <div>
    <span>You have to be logged in to perform this action.</span>
  </div>
<% end %>
