<%= stylesheet_link_tag "details", media: "all" %>
<div class="details">
  <div class="details-image-container">
    <% if @person["picture_uri"].present? %>
      <img src="https://tiss.tuwien.ac.at<%= @person["picture_uri"] %>" class="details-img">
    <% else %>
      <h4 class="no-image-text">No image available</h4>
    <% end %>
  </div>
  <div class="details-body">
    <h1 class="details-title"><%= @person["first_name"] %> <%= @person["last_name"] %></h1>
    <p class="details-text">
      Email: <%= @person["main_email"] %> <br>
      Phone Number:  <%= @person["main_phone_number"] %> <br>
      Preceeding Titles: <%= @person["preceding_titles"] %> <br>
      Postpositioned Titles: <%= @person["postpositioned_titles"] %></p>
  </div>
  <div class="details-controls">
    <div class="flex">
      <%= link_to "Courses", course_results_path(query: @links_query), class: "details-link link-primary" %>
      <%= link_to "Projects", project_results_path(query: @links_query), class: "details-link link-primary" %>
      <%= link_to "Theses", thesis_results_path(query: @links_query), class: "details-link link-primary" %>
      <%= link_to "Full Report", person_full_report_path(query: @links_query, id: @id), class: "details-link link-primary" %>
    </div>
  </div>
  <div class="augments">
    <% if !@isFav %>
      <%= form_with url: person_favorite_path, method: :post do |form| %>
        <div class="augments">
          <div class="augment-row">
            <label class="aug-label" for="keywords">Keywords:</label>
            <%= form.text_field :keywords, class: "inputs", placeholder: "Some keywords..." %>
          </div>
          <div class="augment-row">
            <label class="aug-label" for="notes">Personal Notes:</label>
            <%= form.text_area :notes, class: "area inputs", placeholder: "Some personal notes..." %>
          </div>
        </div>
        <%= hidden_field_tag :id, @person["tiss_id"] %>
        <%= hidden_field_tag :title, @person["first_name"] + " " + @person["last_name"] %>
        <%= form.submit "Add to favorites", class: "btn-to details-link link-primary details-button" %>
      <% end %>
    <% else %>
      <%= form_with url: person_favorite_path, method: :post do |form| %>
        <div class="augments">
          <div class="augment-row">
            <label class="aug-label" for="keywords">Keywords:</label>
            <%= form.text_field :keywords, class: "inputs", placeholder: "Some keywords..." %>
          </div>
          <div class="augment-row">
            <label class="aug-label" for="notes">Personal Notes:</label>
            <%= form.text_area :notes, class: "area inputs", placeholder: "Some personal notes..." %>
          </div>
        </div>
        <%= hidden_field_tag :id, @person["tiss_id"] %>
        <%= hidden_field_tag :title, @person["first_name"] + " " + @person["last_name"] %>
        <%= button_to "Update personal notes", person_favorite_path, class: "btn-to details-link link-primary details-button", method: :put %>
        <%= button_to "Remove from favorites", person_favorite_path, class: "btn-to details-link link-primary details-button", method: :delete, params: { id: @person["tiss_id"] } %>
      <% end %>
    <% end %>
  </div>
</div>
