<%= stylesheet_link_tag "user-forms", media: "all" %>
<div class="main-container">
  <div class="form">
    <h1>People Search</h1>
    <%= form_with data: {turbo:false} do |form|%>
      <div class="form-group">
        <%= form.label "Enter name:" %>
        <%= form.text_field :query, class: "input-field"%>
      </div>
      <div class="controls">
        <%= form.submit "Search", class: "button-secondary submit-button" %>
      </div>
    <% end%>
  </div>
</div>
