<%= stylesheet_link_tag "list", media: "all" %>
<% if Current.user %>
  <div class="list-container">
    <% if @result.present? %>
      <% @result.each do |person| %>
        <div class="list-item">
          <% if person["adressbuch_benutzerbild"] %>
            <div class="img-container">
              <img class="person-img" src="<%= "https://tiss.tuwien.ac.at/" + person["adressbuch_benutzerbild"] %>">
            </div>
          <% end %>
          <div class="text-info-box">
            <span class="name"><%= person["firstname"] %></span>
            <span class="name"><%= person["lastname"] %></span>
            <span><%= person["prefixTitle"] %></span>
            <div class="controls person-controls">
              <%= link_to "Details", person_details_path(id: person["id"]), class: "button-secondary" %>
              <% if !person["isFav"] %>
                <%= button_to "Add favorites", person_favorite_path, class: "btn-to button-secondary", method: :post, params: { id: person["id"], title: person["firstname"] +" " + person["lastname"] }  %>
              <% else %>
                <%= button_to "Remove from favorites", person_favorite_path, class: "button-secondary", method: :delete, params: { id: person["id"] }  %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1>Oh wow, so much empty :(</h1>
    <% end %>
  </div>
<% else %>
  <div>
    <span>You have to be logged in to perform this action.</span>
  </div>
<% end %>
